body {
	background-color: black;
	font-family: roboto;
	color: #F706CF;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
}

#title {
	text-align: center;
	color: #D40078;
}

#desc {
	text-align: center;
}

#hatsune {
	text-align: center;
	border-radius: 3px;
}

 #links {

 }
