/* Licence https://github.com/SlippingGitty/SlideToUnlock/blob/main/LICENSE */

/*
///////////////
///TOP BAR
///////////////
*/

/* Wndows Title Bar */
.withFrame-haYltI {
  height: 18px;
  margin-top: 0px;
  margin-bottom: 2px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.titleBar-AC4pGV {
  margin-top: 1px;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.winButton-iRh8-Z {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  color: rgb(255, 255, 255) !important;
  margin-bottom: -1px;
  border: .5px solid #00000065;
}

/*
/////////////////////////
////USER MODE BANNERS
/////////////////////////
*/

/* Preview mode */
.notice-2X5hT5 {
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,hsl(227, 31%, 44%) 50%,rgb(112, 131, 197) 100%); 
  background-color: #4e5d94;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); 
  border-color: rgba(0, 0, 0, 0.363);
}

/* Streamer mode */
.colorStreamerMode-2SJAUN {
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,hsl(305, 31%, 44%) 50%,rgb(197, 112, 179) 100%); 
  background-color: #924e94;
}
.theme-dark .button-2DhvE9, .theme-light .button-2DhvE9 {
  background: linear-gradient(to bottom, rgb(222, 233, 213) 0%,rgb(196, 25, 34) 50%,rgb(227, 145, 163) 100%); 
  border-color: rgba(0, 0, 0, 0.363);
}
/* Success banner */
.colorSuccess-1hnbW2 {
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); 
  border-color: rgba(0, 0, 0, 0.363);
}

/*
//////////////
//SIDEBARS
//////////////
*/

/* Members Sidebar */
.members-1998pB, .hiddenMembers-2dcs_q, .membersWrap-2h-GB4 {
background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
}
.members-1998pB>div {
background: transparent;
}

/* Channels */
.container-3w7J-x {
  background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
}
.scroller-1JbKMe {
  background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
}
.total-i6us2n {
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
}
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
  background: linear-gradient(rgb(17, 18, 22), rgb(77, 77, 87)) !important;
  border: 1px solid #00000065;
}
.users-3kndPl {
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  box-shadow: 2px 2px 2px #00000036 !important;
}

/* Unread Bartender */
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:before {
  bottom: -8px;
}
.unread-2lAfLh {
  width: 4px;
  border-radius: 0px 0px 0px 0px;
  left: 1.2px;
  border: 1px solid #000000;
  background-color: rgb(172, 169, 169);
}

/* Servers */
.platform-win .scroller-2TZvBN {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) !important;
  border: 1px solid #00000065;
}
.scrollableContainer-2NUZem {
  background: linear-gradient(rgb(27, 28, 30), rgb(66, 66, 68)) !important;
  border: 1px solid #00000065;
}
.item-2hkk8m {
width: 5px;
border-radius: 0%;
left: 5px;
border: 1px solid #000000;
background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
}
.mention-1f5kbO {
    border-radius: 3px;
    font-weight: 700;
    background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%);
    border: 1px solid #000000;
    color: rgb(255, 255, 255) !important;
}


/* Server Folders */
.closedFolderIconWrapper-15K9MK {
  border-radius: 1px;
}
.childWrapper-anI2G9, .wrapper-1BJsBx {
  border-radius: 1px;
}

/* Channel Names ---- enable by fixing name */
.mainContent-u_9 PKf:before {
  border-radius: 0px;
  border-width: px;
  border: 1px solid #00000065;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}

/* People List */
.peopleList-3c4jOR {
  padding-bottom: 8px;
  background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
}
.nowPlayingScroller-2XrVUt {
    background: transparent;
}
.nowPlayingColumn-2sl4cE {
  background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
}
.itemCard-v9viV7 {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.section-2gLsgF {
  font-weight: 700;
  background: linear-gradient(rgb(18, 19, 21), rgb(63, 66, 75)) !important;
  border: 1px solid #00000065;
}

/*
////////////////////////////
///CHANNELS INFO/SEARCH
///////////////////////////
*/

/* Channel Desc. */
.container-1r6BKw.themed-ANHk51, .clickable-25tGDB .header-2V-4Sw  {
  background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) !important;
}

/* Search */
.searchBar-3dMhjb {
  background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
  border-radius: 1px;
  border: 1px solid #000000;
}
.searchBar-3dMhjb:hover {
  box-shadow: 0 0 2px 3px #4189c38c;
}
.searchBar-6Kv8R2  {
  background: linear-gradient(rgb(79, 82, 91), rgb(51, 54, 61)) !important;
}
.searchBar-6Kv8R2b:hover {
  box-shadow: 0 0 2px 3px #4189c38c;
}
.searchBarComponent-32dTOx {
  background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
  border-radius: 1px;
  border: 1px solid #000000;
}
.searchBarComponent-32dTOx:hover {
  box-shadow: 0 0 2px 3px #4189c38c;
}
.scroller-3GIiMh {
  background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
  border-radius: 1px;
  border: 1px solid #000000;
}
.searchHeader-2XoQg7 {
  background: linear-gradient(rgb(51, 54, 61), rgb(79, 82, 91)) !important;
}
.message-1Ng5AR {
  background: linear-gradient(rgb(34, 37, 42), rgb(55, 56, 61)) !important;
}
.channelName-1JRO3C {
  background: none;
}

/*
////////////////
///CHAT
////////////////
*/

/* Chat */
.chatContent-a9vAAp {
  background: linear-gradient(rgb(81, 85, 94), rgb(41, 42, 47)) !important;
  border: 1px solid #00000065;
}
.grid-1nZz7S {
  font-weight: 700;
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}
.theme-dark .form-2fGMdU:before {
display: none;
}

/* Avatars */
.avatar-1BDn8e.clickable-1bVtEA, .avatar-SmRMf {
  border-radius: 3px;
  box-shadow: 2px 2px 2px #00000036 !important;
  height: 35px;
  width: 35px;
}

/* Reactions */
.reaction-1hd86g {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.reaction-1hd86g.reactionMe-wv5HKu {
  background: linear-gradient(rgb(55, 68, 94), rgb(0, 48, 145)) !important;
  border: 1px solid #000000;
}

/* Reply Bartender */
.container-2fRDfG {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
  left: 15px;
}

/* Reply Media icon */
.repliedTextContentIcon-1ivTae {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
  border-radius: 3px;
}

/* New Messages Bartender */
.newMessagesBar-265mhP {
  border-radius: 3px;
  padding: 3px 5px 1.5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}

/* Older Messages Bartender */
.jumpToPresentBar-G1R9s6 {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
  left: 15px;
}

/* Message options */
.scroller-3BxosC {
  border-radius: 3px;
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
}
.label-22pbtT {
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px 2px #00000000;
}
.icon-LYJorE, .iconContainer-2-XQPY, .icon-3Gkjwa, {
  color: rgba(0, 0, 0, 0);
}
.wrapper-2aW0bm {
  border-radius: 3px;
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
}
.icon-3Gkjwa {
  color: black;
}
.icon-LYJorE, .iconContainer-2-XQPY {
  color: black;
}

/* Markup */
.markup-2BOw-j code {
  background: linear-gradient(rgb(31, 31, 34), rgb(56, 58, 65)) !important;
  border: 1px solid var(--background-tertiary);
}

/* Invites */
.wrapper-35wsBm {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: .2px solid #000000;
}

/* Audio embeds */
.theme-dark .wrapperAudio-1jDe0Q {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}

/* File embed */
.attachment-33OFj0 {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
    border-radius: 3px;
}

/* The listening party is over */
.theme-dark .invite-18yqGF {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}

/* Invalid poop */
.invalidPoop-pnUbq7 {
  border: 1px solid #00000065;
  border-radius: 3px;
}

/*
//////////////
///BUTTONS
//////////////
*/

/* Server Buttons */
.circleIconButton-jET_ig {
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  box-shadow: 2px 2px 2px #00000036 !important;
}
.actionButton-uPB8Fs:first-child, .actionButton-uPB8Fs {
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  box-shadow: 2px 2px 2px #00000036 !important;
}

/* Most Buttons */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,  .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .tabBar-ZmDY9v .item-3HknzM {
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  box-shadow: 2px 2px 2px #00000036 !important;
}
.unread-1xRYoj {
  border-radius: 3px;
  padding: 3px 5px 1.5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%);
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}

/* Selected Button */
.selected-aXhQR6 .layout-2DM8Md {
  font-weight: 700;
  background: linear-gradient(rgb(143, 143, 143), rgb(83, 83, 83)) !important;;
  border: 1px solid #000000;
}

/* Gif/Emoji buttons */
.navButtonActive-1MkytQ:hover, .navButtonActive-1MkytQ {
  border-radius: 3px;
  padding: 3px 5px 1.5px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}

/* View in Store */
.lookFilled-1Gx00P.colorGreen-29iAKY {
  border-radius: 3px;
  padding: 3px 5px 1.5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}

/* People/Buttons */
.layout -2DM8Md {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #000000;
}

/*
////////////////
///SETTINGS
////////////////
*/

/* User Quick Settings Container  */
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
  background: linear-gradient(rgb(90, 90, 90), rgb(24, 24, 24)) !important;
  border: 1px solid #00000065;
}
.membersGroup-v9BXpm {
  color: white;
  text-transform: none;
}

/* Settings */
.sidebarRegionScroller-3MXcoP {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.contentRegionScroller-26nc1e {
  font-weight: 700;
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}
.fieldList-21DyL8 {
  font-weight: 700;
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}
.background-1QDuV2 {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}
.theme-dark .closeButton-1tv5uR {
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgb(196, 25, 25) 50%,rgb(227, 145, 145) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}
.disableButton-220a9y {
  margin-right: 16px;
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(151, 1, 1) 50%,rgb(227, 145, 145) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}
.item-26Dhrx[aria-checked=true] {
  border-radius: 3px;
  padding: 3px 5px 2px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  border-radius: 3px;
  border: .2px solid #000000;
}
.item-26Dhrx {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  color: var(--interactive-normal);
  border-radius: 3px;
  border: .2px solid #000000;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
  margin-right: 16px;
  border-radius: 3px;
  padding: 6px 10px 5px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}
.horizontal-1ae9ci>.flex-1xMQg5:first-child {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border-radius: 3px;
}
.horizontal-1ae9ci>.flex-1xMQg5:first-child {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border-radius: 3px;
}
.css-1kj8ui-container {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border-radius: 3px;
  border: .2px solid #000000;
}
.emptyResultsWrap-G931-Q  {
    background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}
.scroller-3GIiMh {
  padding: 0px 0x 0px;
}


/*
///////////////////
///FLYOUT MENUS
///////////////////
*/

/* Inbox */
.header-2-Imhb, .header-2-Imhb .tab-ck0077 {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
   border-radius: 3px;
}
.messageContainer-gbhlwo {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
  border-radius: 3px;
  margin-top: -6px;
}
.channelHeader-3Gd2xq {
 background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
  border-radius: 3px;
}
.scroller-2UmRce {
  background: linear-gradient(rgb(22, 23, 24), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.scroller-tlc3kG {
  border: 1px solid #00000065;
  background: linear-gradient(rgb(66, 66, 66), rgb(0, 0, 0)) !important;
}
.closeButton-1152MI, .secondary-dIudih {
  margin-right: 16px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgb(227, 145, 145) 0%,rgba(196, 25, 25, 0.705) 50%,rgba(227, 145, 145, 0.397) 100%); 
  border: 1px solid #000000;
  color: rgb(255, 255, 255) !important;
}
.messages-3G3erD {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
  border-radius: 3px;
  margin-top: -6px;
}
.tertiary-aMXF0g {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.582) 0%,rgb(27, 179, 72) 50%,rgb(0, 175, 44) 100%);
  border: 1px solid #000000;
  color: white;
}
.collapseButton-2ZsEjz {
  left: -2px;
}


/* User info */
.theme-dark .footer-1fjuF6 {
  font-weight: 700;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.theme-dark .body-3iLsc4 {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) !important;
  border: 1px solid #00000065;
}
.inputDefault-_djjkz {
  color:grey;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  border: 1px solid #00000065;
}
.headerPlaying-j0WQBV,  .headerTop-3C2Zn0{
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) !important;
  border: 1px solid #00000065;
}

/* Emote info */
.emojiSection-3Fb9ix {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}

/* DM Menu */
.focusLock-Ns3yie, .root-1gCeng {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: .2px solid #000000;
  color: rgb(255, 255, 255) !important;
  margin-bottom: -1px;
}
.inner-3ErfOT {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(49, 49, 54)) !important;
  border: 1px solid #00000065;
}

/* Quick Switcher */
.quickswitcher-3JagVE{
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31)) !important;
}
.input-2VB9rf {
  font-weight: 700;
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31)) !important;
}
.scroller-zPkAnE {
  background: linear-gradient(rgb(15, 16, 19), rgb(27, 27, 31)) !important;
}

/* Emoji Selector */
.list-6NCENv, .list-donH_Z, .header-ywPcAE, .inspector-3LQtX9 {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #00000065;
}
.wrapper-1-Fsb8 {
    background: linear-gradient(rgba(72, 73, 75, 0), rgba(38, 39, 41, 0)) !important;
    border: 1px solid #00000000;
}
.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}
.unicodeShortcut-15J8Ck {
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
  border: 1px solid #00000065;
}

/* Image uploading preview */
.theme-dark .uploadModal-2ifh8j, .uploadModal-2ifh8j, .footer-3mqk7D.hasSpoilers-1IRtQC, .autocompleteInner-zh20B_  {
  background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61)) !important;
  border: 1px solid #00000065;
}

/* Invite friends */
.theme-dark .footer-1FPmkC   {
  background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61)) !important;
  border: 1px solid #00000065;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: black;
font-weight: 700;
}

/* Pins */
.header-ykumB  {
  border-radius: 3px;
  border-width: 1px;
  background-color: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.messagesPopout-24nkyi {
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #00000065;
  background: linear-gradient(rgb(72, 73, 75), rgb(38, 39, 41)) !important;
}
.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT {
  border-radius: 3px;
  border-width: 1px;
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}

/*
////////////////////////
////DISCOVER (ALPHA)
////////////////////////
*/
.sidebar-2K8pFh {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}
.theme-dark .card-3DjzTQ {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #0000007c;
  border-radius: 3px;
}
.scroller-1d5FgU {
  background: linear-gradient(rgb(74, 77, 86), rgb(51, 54, 61)) !important;
  border: 1px solid #0000007c;
}
.headerContentWrapper-2u32yq {
  background-image: url("https://illaddanimagelater.png"); /* image will be added later */
  border: 1px solid #0000007c;
  border-radius: 3px;
}
.search-1iTphC, .searchBox-2_mAlO, .searchBoxInput-K6mkng {
  background-color: #fff0;
}
.optionContainer-15srkc {
  background: linear-gradient(rgb(72, 73, 75), rgb(17, 18, 19)) !important;
  border: 1px solid #0000007c;
  border-radius: 3px;
}

/*
////////////////////////////////////////////////////////////////////////////////////////////
////TEMP HOT FIX FOR SERVER CREATION TOOL THAT WILL BE REMOVED WITH DISCORD GETS IT TOGETHER
////////////////////////////////////////////////////////////////////////////////////////////
*/
.childWrapper-anI2G9, .wrapper-1BJsBx {
  box-shadow: 2px 2px 2px black;
}
.footer-2gL1pp, .container-UC8Ug1 {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}
.footerTitle-2CYZch, .subtitle-Nw1LLR, .title-3w8xhj, .colorHeaderSecondary-3Sp3Ft, .text-1FOLJS, .title-LqAd9K, .closeButton-_onk93 {
  color: white;
  text-shadow: 2px 2px 2px #00000000;
}

/*
///////////
///LOGIN
///////////
*/

/* Mac OS X Linen Image */
.canvas-3XuBXe, .fallbackImage-31Sk4m {
  background-image: url("https://i.imgur.com/yJcUW3B.png");
}
/* Login Box */
.theme-dark.authBox-hW6HRx {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0);
  background: none;
}
.title-jXR8lp:after {
  content: ' Slide To Unlock.';
}
/* QR Code */
.qrCodeOverlay-qgtlTP {
  box-shadow: 12px 12px 12px black;
}
.title-jXR8lp, .colorHeaderSecondary-3Sp3Ft {
  font-family: Helvetica, sans-serif !important; 
}
/* Login text feild */
.inputField-4g7rSQ {
  color:grey;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.inputField-4g7rSQ:hover, .inputDefault-_djjkz:hover {
  box-shadow: 0 0 2px 3px #4189c3;
  background-color: white;
}


/*
//////////////////////
///POWERCORD SETTINGS
//////////////////////
*/

/* Manage tabs */
.powercord-entities-manage-tabs {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: .2px solid #000000;
}

/* Powercord account */
.powercord-account {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: .2px solid #000000;
}

/* Theme manager beta teaser */
.developerPortalCtaWrapper-2XNafh {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: .2px solid #000000;
}

/* Powercord products */
.powercord-product {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: .2px solid #000000;
}

/* Powercord search */
.powercord-entities-manage-search input {
  background: linear-gradient(rgb(28, 27, 31), rgb(39, 40, 41)) !important;
  border: .2px solid #000000;
}

/* Dotted Menu button */
.powercord-entities-manage-header svg {
  border-radius: 3px;
  padding: 3px 5px 2px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
  box-shadow: 2px 2px 2px #00000036 !important;
}

/*
//////////////////////
///VIZALITY SETTINGS
//////////////////////
*/

/* Home */
.vz-dashboard-home-cta-background, .vz-dashboard-home-cta-background, .vz-dashboard-home-cta-overlay-background {
  background-image: url("https://cdn.hipwallpaper.com/i/26/19/qswucm.jpg");
  box-shadow: 5px 5px 5px #00000036 !important;
  border: 1px solid #000000; 
}
.vz-dashboard-home-cta-content-icon-wrapper {
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(51, 51, 51) 50%,rgb(161, 161, 161) 100%); 
  text-shadow: 5px 5px 5px #00000000;
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
}
.vz-dashboard-home-cta-content-subtext, .vz-dashboard-home-cta-content-header {
  text-shadow: 5px 5px 5px #000000;
}

/* Icons */
.vz-dashboard-home-features-icon-wrapper {
  background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(51, 51, 51) 50%,rgb(161, 161, 161) 100%);
  border: 1px solid #000000; 
}
.vz-dashboard-home-features-card {
  text-shadow: 5px 5px 5px #000000;
  border-radius: 3px;
  border-width: 1px;
  border: 1px solid #000000; 
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}

/* Background */
.vz-dashboard-home-section-features, .vz-wave-divider-svg-path {
  border: 1px solid #000000; 
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}
.vz-dashboard-layout, .vz-dashboard-scroller {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}
.vz-wave-divider-svg {
  display: none;
}

/* Sidebar */
.vz-dashboard-sidebar {
  border: 1px solid #000000; 
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
}

/* Sidebar Cat */
.vz-c-settings-category-title, .vz-c-settings-category-inner, .vz-addons-list-sticky-bar {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #000000; 
  border-radius: 3px;
}

/* Buttons */
.topPill-30KHOu .item-PXvHYJ {
  padding: 8px 8px;
}

/* Theme names */
.vz-addons-list[vz-display=compact] .vz-addon-card {
  background: linear-gradient(rgb(38, 39, 41), rgb(72, 73, 75)) !important;
  border: 1px solid #000000; 
  border-radius: 3px;
}

/*
/////////////////////
///TINY FIXATIONS
/////////////////////
*/

/* Force Font Helvetica*/
* { 
  font-family: Helvetica, sans-serif !important; 
  text-rendering: optimizeLegibility;
  text-shadow: 2px 2px 2px #00000052;
  text-transform: none;
}

/* Logo */
.childWrapper-anI2G9 {
background: linear-gradient(to bottom, rgba(227, 145, 145, 0.363) 0%,rgb(51, 51, 51) 50%,rgb(161, 161, 161) 100%); 
}

/* Hide some elements */
.topic-TCb_qw.e xpandable-9fI_e3 {
  cursor: pointer;
  color: #00000000;
  text-shadow: 2px 2px 2px #00000000;
}

/* Scroll Bar */
.theme-dark {
--scrollbar-auto-thumb: #00000060;
--scrollbar-auto-track: #2e333800;
}

/* Square */
.childWrapper-anI2G9, .wrapper-1BJsBx {
  border-radius: 0 !important;
}

/**
 * Snippet from #css-snippets in the Powercord Server "Revert autocomplete style change"
 * Created by Juby210#0577 (324622488644616195)
 * Snippet ID: 803907978226696213
 */

.contentTitle-2tG_sM {
    color: var(--text-muted);
}
.autocompleteRowContentPrimary-238PvP .colorInteractiveActive-3Ip9Eu {
    font-weight: inherit;
    font-size: 100%;
}
.autocompleteRowContentSecondary-1tgI-F {
    font-size: 14px;
    line-height: 18px;
    color: var(--text-muted);
}

/** 803907978226696213 */

/* etc */
.children-19S4PO:after {
  display: none;
}
.platform-win .sidebar-2K8pFh {
  border-radius: 0px 0 0;
}
.icon-22AiRD {
  border-radius: 3px;
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(189, 189, 189) 50%,rgb(219, 219, 219) 100%); 
  color: rgb(0, 0, 0) !important;
}
.status-1fhblQ, .description-2L932D {
  font-weight: 700;
  color: black;
  text-shadow: 2px 2px 2px #00000000;
}

/* Dev Badge */
.avatar-1BDn8e[src*="359175647257690113"] + h2 .username-1A8OIy::after {
  content: '   •    SlideToUnlock Dev   •';
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  vertical-align: baseline;
  margin-left: .25rem;
} 
